<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-900">">
    <h1 class="text-blue-500 text-3xl px-20 mt-5"><u>Login /<a class="text-red-500 px-3 border-md" href="/">/  <u>Signup</u></a></u></h1>
    <div class="p-20">
        <form action="" method="POST" class="flex flex-row gap-4 flex-wrap">
            <input class="bg-gray-700 text-white rounded-md" type="text" placeholder="email" name="email">  
            <input class="bg-gray-700 text-white rounded-md" type="text" placeholder="password" name="password">
            <input class="bg-blue-500 color-white px-5 text rounded-md" type="submit" placeholder="create"> 
        </form>
    </div>
<script src="/javascripts/script.js"></script>
</body>
</html>